In [512]:
import pandas as pd
import numpy as np

## Importar ficheiro

In [513]:
#df = pd.read_csv('complete_goals.csv')
#df.head(10)

In [514]:
# Para os dados extra
df = pd.read_csv("data_1_raw.csv")
df

,Season,Competition,Matchday,Date,Venue,Club,Opponent,Result,Playing_Position,Minute,At_score,Type,Goal_assist
0,02/03,Liga Portugal,6,10-07-02,H,Sporting CP,Moreirense FC,3:00,LW,34,2:00,Solo run,NaN
1,02/03,Liga Portugal,6,10-07-02,H,Sporting CP,Moreirense FC,3:00,LW,90+5,3:00,Header,Rui Jorge
2,02/03,Liga Portugal,8,10/26/02,A,Sporting CP,Boavista FC,1:02,NaN,88,1:02,Right-footed shot,Carlos Martins
3,02/03,Taca de Portugal Placard,Fourth Round,11/24/02,H,Sporting CP,CD Estarreja,4:01,NaN,67,3:00,Left-footed shot,Cesar Prates
4,02/03,Taca de Portugal Placard,Fifth Round,12/18/02,H,Sporting CP,FC Oliveira do Hospital,8:01,NaN,13,3:00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
705,22/23,Saudi Pro League,16,2/9/23,A,Al-Nassr FC,Al-Wehda FC,0:4,CF,61,0:4,Right-footed shot,NaN
706,22/23,Saudi Pro League,18,2/25/23,A,Al-Nassr FC,Damac FC,0:3,CF,18,0:1,Penalty,\t
707,22/23,Saudi Pro League,18,2/25/23,A,Al-Nassr FC,Damac FC,0:3,CF,23,0:2,Left-footed shot,Sultan Al-Ghannam
708,22/23,Saudi Pro League,18,2/25/23,A,Al-Nassr FC,Damac FC,0:3,CF,44,0:3,Counter attack goal,Ayman Yahya
709,22/23,Saudi Pro League,21,3/18/23,H,Al-Nassr FC,Abha Club,2:1,CF,78,1:1,Direct free kick,NaN

### Verificar ficheiro

In [515]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 710 entries, 0 to 709
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Season            710 non-null    object
 1   Competition       710 non-null    object
 2   Matchday          710 non-null    object
 3   Date              710 non-null    object
 4   Venue             710 non-null    object
 5   Club              710 non-null    object
 6   Opponent          710 non-null    object
 7   Result            710 non-null    object
 8   Playing_Position  652 non-null    object
 9   Minute            710 non-null    object
 10  At_score          710 non-null    object
 11  Type              695 non-null    object
 12  Goal_assist       464 non-null    object
dtypes: object(13)
memory usage: 72.2+ KB

In [516]:
#Verificação estatística dos dados
df.describe(include=['object']).T

                 count unique                top freq
Season             710     21              14/15   61
Competition        710     17             LaLiga  311
Matchday           710     52        Group Stage   75
Date               710    468           09-12-15    5
Venue              710      2                  H  404
Club               710      5        Real Madrid  450
Opponent           710    129         Sevilla FC   27
Result             710     57               3:00   49
Playing_Position   652      5                 LW  356
Minute             710    106                 90   17
At_score           710     43               1:00  111
Type               695     11  Right-footed shot  253
Goal_assist        464     91      Karim Benzema   44

## Coluna Season
### Uniformização dos valores inseridos como temporadas

In [517]:
#verificar quais os valores existentes na coluna season
df.Season.unique()

array(['02/03', '03/04', '04/05', '05/06', '06/07', '07/08', '08/09',
       '09/10', '10/11', '11/12', 'Dec-13', '13/14', '14/15', '15/16',
       '16/17', '17/18', '18/19', '19/20', '20/21', '21/22', '22/23'],
      dtype=object)

In [518]:
#substiruir os valores não conformes 
df.Season = df.Season.replace({'Dec-13':'12/13'})
df.Season.unique()

array(['02/03', '03/04', '04/05', '05/06', '06/07', '07/08', '08/09',
       '09/10', '10/11', '11/12', '12/13', '13/14', '14/15', '15/16',
       '16/17', '17/18', '18/19', '19/20', '20/21', '21/22', '22/23'],
      dtype=object)

In [519]:
# Função para normalizar épocas no formato YYYY/YYYY
def to_season_full(season):
    season = str(season).strip()
    
    if "/" in season and len(season) == 5:
        start, end = season.split("/")
        start_year = int("20" + start)   # 2002
        end_year = int("20" + end)       # 2003
        return f"{start_year}/{end_year}"
    return season

# Aplicar normalização
df["Season"] = df["Season"].apply(to_season_full).astype(str)

## Coluna Competition
### Nova coluna com as categorias dos campeonatos - Category

In [520]:
df.Competition.unique()

array(['Liga Portugal', 'Taca de Portugal Placard', 'Premier League',
       'FA Cup', 'UEFA Champions League Qualifying', 'EFL Cup',
       'UEFA Champions League', 'FIFA Club World Cup', 'LaLiga',
       'Copa del Rey', 'Supercopa', 'UEFA Super Cup', 'Serie A',
       'Supercoppa Italiana', 'Italy Cup', 'Europa League',
       'Saudi Pro League'], dtype=object)

In [521]:
#Nova coluna com categoria da competição
category = {
        #Ligas Nacionais
            "Liga Portugal":'National Leagues',
             "Premier League":'National Leagues', 
             "LaLiga":'National Leagues', 
             "Serie A":'National Leagues', 
             "Saudi Pro League":'National Leagues',
        #Taças Nacionais
             "Taca de Portugal Placard":'National Cups',
             "FA Cup":'National Cups',
             "EFL Cup":'National Cups',
             "Copa del Rey":'National Cups',
             "Italy Cup":'National Cups',
        #SuperTaças Nacionais   
             "Supercopa":'National SuperCups',
             "Supercoppa Italiana":'National SuperCups',
        #Competições Internacionais
             "UEFA Champions League Qualifying":'International',
             "UEFA Champions League":'International',
             "Europa League":'International', 
             "UEFA Super Cup":'International', 
             "FIFA Club World Cup":"International"
           }
df['Category'] = df['Competition'].replace(category)

In [522]:
df[['Competition','Category']]

                  Competition          Category
0               Liga Portugal  National Leagues
1               Liga Portugal  National Leagues
2               Liga Portugal  National Leagues
3    Taca de Portugal Placard     National Cups
4    Taca de Portugal Placard     National Cups
..                        ...               ...
705          Saudi Pro League  National Leagues
706          Saudi Pro League  National Leagues
707          Saudi Pro League  National Leagues
708          Saudi Pro League  National Leagues
709          Saudi Pro League  National Leagues

[710 rows x 2 columns]

### Nova coluna com os organizadores - Organizer

In [523]:
#Nova coluna por organizadores das competições
organizer = {
    # Portugal
    "Liga Portugal": "Portuguese Football Federation (FPF)",
    "Taca de Portugal Placard": "Portuguese Football Federation (FPF)",

    # Inglaterra
    "Premier League": "English Football Association (FA)",
    "FA Cup": "English Football Association (FA)",
    "EFL Cup": "English Football Association (FA)",

    # Espanha
    "LaLiga": "Spanish Football Federation (RFEF)",
    "Copa del Rey": "Spanish Football Federation (RFEF)",
    "Supercopa": "Spanish Football Federation (RFEF)",

    # Itália
    "Serie A": "Italian Football Federation (FIGC)",
    "Italy Cup": "Italian Football Federation (FIGC)",
    "Supercoppa Italiana": "Italian Football Federation (FIGC)",

    # Arabia Saudita
    "Saudi Pro League": "Saudi Arabian Football Federation (SAFF)",

    # UEFA
    "UEFA Champions League Qualifying": "UEFA",
    "UEFA Champions League": "UEFA",
    "Europa League": "UEFA",
    "UEFA Super Cup": "UEFA",

    # FIFA
    "FIFA Club World Cup": "FIFA"
}

df['Organizer'] = df['Competition'].replace(organizer)

In [524]:
df[['Competition','Category','Organizer']]

,Competition,Category,Organizer
0,Liga Portugal,National Leagues,Portuguese Football Federation (FPF)
1,Liga Portugal,National Leagues,Portuguese Football Federation (FPF)
2,Liga Portugal,National Leagues,Portuguese Football Federation (FPF)
3,Taca de Portugal Placard,National Cups,Portuguese Football Federation (FPF)
4,Taca de Portugal Placard,National Cups,Portuguese Football Federation (FPF)
...,...,...,...
705,Saudi Pro League,National Leagues,Saudi Arabian Football Federation (SAFF)
706,Saudi Pro League,National Leagues,Saudi Arabian Football Federation (SAFF)
707,Saudi Pro League,National Leagues,Saudi Arabian Football Federation (SAFF)
708,Saudi Pro League,National Leagues,Saudi Arabian Football Federation (SAFF)
709,Saudi Pro League,National Leagues,Saudi Arabian Football Federation (SAFF)

## Matchday

In [525]:
df.Matchday.unique()

array(['6', '8', 'Fourth Round', 'Fifth Round', '11', '29', '32', '38',
       'Final', '16', 'Third Round', '24', '25', 'Sixth Round', '30',
       'Semi-Finals', '3rd round', 'Round of 16', '20', '26', '28', '1',
       '10', '15', '17', '19', '21', '23', '6th round', 'Quarter-Finals',
       '37', 'Group Stage', '9', '12', '13', '18', '22', '27', 'last 16',
       '31', '33', '34', '36', '2', '3', '4', '35', '7', '4th round',
       '14', 'final', '5'], dtype=object)

In [526]:
df.Matchday.value_counts().sort_index()

Matchday
1                  6
10                13
11                12
12                15
13                16
14                14
15                14
16                14
17                13
18                19
19                10
2                  7
20                17
21                15
22                15
23                18
24                13
25                15
26                10
27                15
28                14
29                20
3                 14
30                11
31                13
32                 8
33                10
34                12
35                15
36                13
37                16
38                13
3rd round          1
4                 11
4th round          2
5                  9
6                 18
6th round          1
7                  8
8                 18
9                 13
Fifth Round        4
Final             16
Fourth Round       3
Group Stage       75
Quarter-Finals    31
Round of 16        1
Semi-Finals       26
Sixth Round        2
Third Round        3
final              4
last 16           34
Name: count, dtype: int64

### Uniformizar coluna

In [527]:
matchday_order = {'Fourth Round':'Round 4',
                  'Fifth Round':'Round 5',
                  'Third Round':'Round 3',
                  'Sixth Round':'Round 6',
                  '3rd round':'Round 3',
                  'Round of 16':'Last 16',
                  '6th round':'Round 6',
                  'last 16':'Last 16',
                  '4th round':'Round 4',
                  'final':'Final'
                 }
df['Matchday'] = df['Matchday'].replace(matchday_order)

In [528]:
df.Matchday.value_counts().sort_values(ascending=False)

Matchday
Group Stage       75
Last 16           35
Quarter-Finals    31
Semi-Finals       26
Final             20
29                20
18                19
8                 18
6                 18
23                18
20                17
37                16
13                16
21                15
35                15
27                15
12                15
25                15
22                15
15                14
14                14
16                14
28                14
3                 14
36                13
9                 13
31                13
17                13
38                13
24                13
10                13
11                12
34                12
30                11
4                 11
19                10
33                10
26                10
5                  9
32                 8
7                  8
2                  7
1                  6
Round 4            5
Round 3            4
Round 5            4
Round 6            3
Name: count, dtype: int64

In [529]:
df.Matchday.unique()

array(['6', '8', 'Round 4', 'Round 5', '11', '29', '32', '38', 'Final',
       '16', 'Round 3', '24', '25', 'Round 6', '30', 'Semi-Finals',
       'Last 16', '20', '26', '28', '1', '10', '15', '17', '19', '21',
       '23', 'Quarter-Finals', '37', 'Group Stage', '9', '12', '13', '18',
       '22', '27', '31', '33', '34', '36', '2', '3', '4', '35', '7', '14',
       '5'], dtype=object)

### Nova coluna com identificação de Matchday (ligas) ou Stage (fases taças ou UEFA)

In [530]:
matchday_stage = {'6':'Matchday',
                  '8':'Matchday', 
                  'Round 4':'Stage',
                  'Round 5':'Stage',
                  '11':'Matchday',
                  '29':'Matchday',
                  '32':'Matchday',
                  '38':'Matchday', 
                  'Final':'Stage',
                  '16':'Matchday',
                  'Round 3':'Stage',
                  '24':'Matchday',
                  '25':'Matchday',
                  'Round 6':'Stage', 
                  '30':'Matchday',
                  'Semi-Finals':'Stage',
                  'Last 16':'Stage',
                  '20':'Matchday',
                  '26':'Matchday',
                  '28':'Matchday',
                  '1':'Matchday',
                  '10':'Matchday', 
                  '15':'Matchday',
                  '17':'Matchday',
                  '19':'Matchday', 
                  '21':'Matchday',
                  '23':'Matchday',
                  'Quarter-Finals':'Stage',
                  '37':'Matchday',
                  'Group Stage':'Stage',
                  '9':'Matchday',
                  '12':'Matchday',
                  '13':'Matchday',
                  '18':'Matchday',
                  '22':'Matchday', 
                  '27':'Matchday',
                  '31':'Matchday', 
                  '33':'Matchday',
                  '34':'Matchday',
                  '36':'Matchday',
                  '2':'Matchday',
                  '3':'Matchday',
                  '4':'Matchday',
                  '35':'Matchday',
                  '7':'Matchday',
                  '14':'Matchday',
                  '5':'Matchday'
                 }

df['MatchStage'] = df['Matchday'].replace(matchday_stage)

In [531]:
df.MatchStage.value_counts()

MatchStage
Matchday    507
Stage       203
Name: count, dtype: int64

## Data - uniformizar datas

In [532]:
df['Date_clean'] = pd.to_datetime(df['Date'],dayfirst=False,errors='coerce')

C:\Users\joana\AppData\Local\Temp\ipykernel_29772\474218449.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Date_clean'] = pd.to_datetime(df['Date'],dayfirst=False,errors='coerce')

### Nova coluna com o ano - Date-Year

In [533]:
df['Date_Year'] = df['Date_clean'].dt.year

In [534]:
df.Date_Year.unique()

array([2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012,
       2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
      dtype=int32)

In [535]:
df.Result.unique()

array(['3:00', '1:02', '4:01', '8:01', '4:02', '0:02', '3:01', '2:04',
       '0:04', '1:00', '1:04', '1:03', '4:00', '5:01', '1:01', '0:03',
       '3:02', '2:02', '7:01', '0:01', '2:00', '2:01', '6:00', '1:05',
       '6:5 on pens', '4:03', '5:00', '3:05', '0:05', '5:02', '2:05',
       '6:02', '6:01', '8:00', '2:03', '7:00', '0:1 AET', '2:06', '0:06',
       '3:4 on pens', '2:1 AET', '1:06', '7:03', '3:04', '4:1 AET',
       '2:08', '9:01', '10:02', '4:2 AET', '3:03', '6:03', '1:2', '3:0',
       '2:2', '0:4', '0:3', '2:1'], dtype=object)

# Coluna Result com resultados 'clean'

In [536]:
df["Result_clean"] = df["Result"].str.replace(" AET", "")
df["Result_clean"] = df["Result_clean"].str.replace(" on pens", "")
df.Result_clean.unique()

array(['3:00', '1:02', '4:01', '8:01', '4:02', '0:02', '3:01', '2:04',
       '0:04', '1:00', '1:04', '1:03', '4:00', '5:01', '1:01', '0:03',
       '3:02', '2:02', '7:01', '0:01', '2:00', '2:01', '6:00', '1:05',
       '6:5', '4:03', '5:00', '3:05', '0:05', '5:02', '2:05', '6:02',
       '6:01', '8:00', '2:03', '7:00', '0:1', '2:06', '0:06', '3:4',
       '2:1', '1:06', '7:03', '3:04', '4:1', '2:08', '9:01', '10:02',
       '4:2', '3:03', '6:03', '1:2', '3:0', '2:2', '0:4', '0:3'],
      dtype=object)

### Colunas com os golos da equipa e do adversário

In [537]:
# Separar os golos antes e depois dos :
df[["Goals1", "Goals2"]] = df["Result_clean"].str.split(":", expand=True)

# Converter para números
df["Goals1"] = df["Goals1"].astype(int)
df["Goals2"] = df["Goals2"].astype(int)

# Agora criar as colunas finais com base no Venue
df["Goals_Team"] = df.apply(
    lambda row: row["Goals1"] if row["Venue"] == "H" else row["Goals2"],
    axis=1
)

df["Goals_Opponent"] = df.apply(
    lambda row: row["Goals2"] if row["Venue"] == "H" else row["Goals1"],
    axis=1
)

In [538]:
df[['Venue','Result','Goals1','Goals2','Goals_Team','Goals_Opponent']].head(10)

  Venue Result  Goals1  Goals2  Goals_Team  Goals_Opponent
0     H   3:00       3       0           3               0
1     H   3:00       3       0           3               0
2     A   1:02       1       2           2               1
3     H   4:01       4       1           4               1
4     H   8:01       8       1           8               1
5     H   3:00       3       0           3               0
6     H   4:02       4       2           4               2
7     H   3:00       3       0           3               0
8     A   1:02       1       2           2               1
9     A   0:02       0       2           2               0

## Nova coluna com o momento de decisão (Penalties, Tempo extra, normal)

In [539]:
def decision(x):
    if "AET" in x:
        return "After Extra Time"
    elif "on pens" in x:
        return "Penalties"
    else:
        return "Normal"

df["Decision"] = df["Result"].apply(decision)

## Playing Position - uniformizar valores

In [540]:
df.Playing_Position.unique()

array(['LW', nan, 'RW', 'CF', 'LW ', 'CF '], dtype=object)

In [541]:
df.Playing_Position.value_counts()

Playing_Position
LW     356
CF     209
RW      79
LW       5
CF       3
Name: count, dtype: int64

In [542]:
df.Playing_Position.isna().sum()

np.int64(58)

### Nova coluna Play_position_clean

In [543]:
#uniformizar valores
positions = {'LW ':'LW', 'CF ':'CF'}

df['Play_Position_clean'] = df['Playing_Position'].replace(positions)

In [544]:
df.Play_Position_clean.unique()

array(['LW', nan, 'RW', 'CF'], dtype=object)

#### Substituir valores nulos com o de maior frequência LW

In [545]:
df['Play_Position_clean'] = df['Play_Position_clean'].fillna('LW')

In [546]:
df.Play_Position_clean.value_counts()

Play_Position_clean
LW    419
CF    212
RW     79
Name: count, dtype: int64

# Tentativa de corrigir nome na coluna de assistências

In [547]:
df['Goal_assist'] = df['Goal_assist'].fillna('No assist')

In [548]:
df.Goal_assist.unique()

array(['No assist', 'Rui Jorge', 'Carlos Martins', 'Cesar Prates',
       'Ryan Giggs', 'Gary Neville', 'Paul Scholes', 'Louis Saha',
       'Ruud van Nistelrooy', 'Roy Keane', 'Wayne Rooney', 'John OShea',
       'Ji-sung Park', 'Ole Gunnar Solskjaer', 'Michael Carrick',
       'Wes Brown', 'Patrice Evra', 'Carlos Tevez', 'Nemanja Vidicâ€Ž',
       'Nani', 'Edwin van der Sar', 'Owen Hargreaves', 'Dimitar Berbatov',
       'Anderson', 'Guti', 'Esteban Granero', 'Pepe', 'Karim Benzema',
       'Gonzalo Higuain', 'Lassana Diarra', 'Ezequiel Garay', 'Kaka',
       'Marcelo', 'Sergio Ramos', 'Mesut Ozil', 'Xabi Alonso',
       'Angel Di Maria', 'Sergio Canales', 'Sami Khedira',
       'alvaro Arbeloa', 'Fabio CoentrÃ£o', 'Jose CallejÃ³n',
       'Luka Modric', 'Isco', 'Gareth Bale', 'Daniel Carvajal',
       'James Rodriguez', 'Toni Kroos', 'Chicharito', 'Lucas Vazquez',
       'Danilo', 'Jese', 'alvaro Morata', 'Nacho Fernandez',
       'Mateo Kovacic', 'Marco Asensio', 'Casemiro', 'Borja Mayoral',
       'Emre Can', 'Mario Mandzukic', 'Blaise Matuidi',
       'Leonardo Bonucci', 'Miralem Pjanic', 'Giorgio Chiellini',
       'Paulo Dybala', 'Federico Bernardeschi', 'JoÃ£o Cancelo',
       'Leonardo Spinazzola', 'Douglas Costa', 'Rodrigo Bentancur',
       'Alex Sandro', 'Juan Cuadrado', 'Aaron Ramsey', 'Merih Demiral',
       'Federico Chiesa', 'Adrien Rabiot', 'Luke Shaw', 'Bruno Fernandes',
       'Jesse Lingard', 'Mason Greenwood', 'Marcus Rashford',
       'Scott McTominay', 'Fred', 'Jadon Sancho', 'Alex Telles',
       'Anthony Elanga', 'Nemanja MatiÄ‡', 'Abdulrahman Ghareeb',
       'Sami Al-Najei', '\t', 'Sultan Al-Ghannam', 'Ayman Yahya'],
      dtype=object)

# Coluna Type - substituir nulos

In [549]:
df.Type.value_counts()

Type
Right-footed shot         253
Penalty                   132
Left-footed shot          113
Header                    112
Direct free kick           49
Tap-in                     14
Long distance kick          9
Counter attack goal         6
Penalty rebound             3
Solo run                    2
Deflected shot on goal      2
Name: count, dtype: int64

In [550]:
df['Type'] = df['Type'].fillna('Right-footed shot')

In [551]:
df.Type.value_counts()

Type
Right-footed shot         268
Penalty                   132
Left-footed shot          113
Header                    112
Direct free kick           49
Tap-in                     14
Long distance kick          9
Counter attack goal         6
Penalty rebound             3
Solo run                    2
Deflected shot on goal      2
Name: count, dtype: int64

In [552]:
print(df.head())

      Season               Competition Matchday      Date Venue         Club  \
0  2002/2003             Liga Portugal        6  10-07-02     H  Sporting CP
1  2002/2003             Liga Portugal        6  10-07-02     H  Sporting CP
2  2002/2003             Liga Portugal        8  10/26/02     A  Sporting CP
3  2002/2003  Taca de Portugal Placard  Round 4  11/24/02     H  Sporting CP
4  2002/2003  Taca de Portugal Placard  Round 5  12/18/02     H  Sporting CP

                  Opponent Result Playing_Position Minute  ... MatchStage  \
0            Moreirense FC   3:00               LW     34  ...   Matchday
1            Moreirense FC   3:00               LW   90+5  ...   Matchday
2              Boavista FC   1:02              NaN     88  ...   Matchday
3             CD Estarreja   4:01              NaN     67  ...      Stage
4  FC Oliveira do Hospital   8:01              NaN     13  ...      Stage

  Date_clean Date_Year Result_clean Goals1 Goals2 Goals_Team  Goals_Opponent  \
0 2002-10-07      2002         3:00      3      0          3               0
1 2002-10-07      2002         3:00      3      0          3               0
2 2002-10-26      2002         1:02      1      2          2               1
3 2002-11-24      2002         4:01      4      1          4               1
4 2002-12-18      2002         8:01      8      1          8               1

  Decision  Play_Position_clean
0   Normal                   LW
1   Normal                   LW
2   Normal                   LW
3   Normal                   LW
4   Normal                   LW

[5 rows x 25 columns]

# Nova coluna Minute_clean

In [553]:
df.Minute.sort_values(ascending=False).unique()

array(['97', '90+7', '90+6', '90+5', '90+4', '90+3', '90+2', '90+1', '90',
       '9', '89', '88', '87', '86', '85', '84', '83', '82', '81', '80',
       '8', '79', '78', '77', '76', '75', '74', '73', '72', '71', '70',
       '7', '69', '68', '67', '66', '65', '64', '63', '62', '61', '60',
       '6', '59', '58', '57', '56', '55', '54', '53', '52', '51', '50',
       '5', '49', '48', '47', '46', '45+7', '45+2', '45+1', '45', '44',
       '43', '42', '41', '40', '4', '39', '38', '37', '36', '35', '34',
       '33', '32', '31', '30', '3', '29', '28', '27', '26', '25', '24',
       '23', '22', '21', '20', '2', '19', '18', '17', '16', '15', '14',
       '13', '120', '12', '11', '109', '105', '104', '103', '10', '1'],
      dtype=object)

In [554]:
minutes = {'90+7':'97',
           '90+6':'96',
           '90+5':'95',
           '90+4':'94',
           '90+3':'93',
           '90+2':'92',
           '90+1':'91',
           '45+7':'52',
           '45+2':'47',
           '45+1':'46'
          }
df['Minute_clean'] = df['Minute'].replace(minutes)

In [555]:
df.Minute_clean.sort_values(ascending=False).unique()

array(['97', '96', '95', '94', '93', '92', '91', '90', '9', '89', '88',
       '87', '86', '85', '84', '83', '82', '81', '80', '8', '79', '78',
       '77', '76', '75', '74', '73', '72', '71', '70', '7', '69', '68',
       '67', '66', '65', '64', '63', '62', '61', '60', '6', '59', '58',
       '57', '56', '55', '54', '53', '52', '51', '50', '5', '49', '48',
       '47', '46', '45', '44', '43', '42', '41', '40', '4', '39', '38',
       '37', '36', '35', '34', '33', '32', '31', '30', '3', '29', '28',
       '27', '26', '25', '24', '23', '22', '21', '20', '2', '19', '18',
       '17', '16', '15', '14', '13', '120', '12', '11', '109', '105',
       '104', '103', '10', '1'], dtype=object)

# Criar ficheiro novo

In [556]:
df.to_csv ('data_1_clean.csv' , index = False, header=True)

In [557]:
df.columns

Index(['Season', 'Competition', 'Matchday', 'Date', 'Venue', 'Club',
       'Opponent', 'Result', 'Playing_Position', 'Minute', 'At_score', 'Type',
       'Goal_assist', 'Category', 'Organizer', 'MatchStage', 'Date_clean',
       'Date_Year', 'Result_clean', 'Goals1', 'Goals2', 'Goals_Team',
       'Goals_Opponent', 'Decision', 'Play_Position_clean', 'Minute_clean'],
      dtype='object')